# MongoDB files
/mongo/*
!mongo/journal/     # Keep this line if you want to retain journal files, otherwise, ignore this line.
mongo/mongod.lock
mongo/*.wt
mongo/storage.bson
mongo/WiredTiger
mongo/WiredTiger.*
mongo/sizeStorer.wt

/node_modules/
/server/inventory-service/node_modules
/server/wishlist-service/node_modules